.inputText-container h1 {
  margin-bottom: 15px;
}

.inputText-container input {
  width: 100%;
  font-size: 15px;
  padding: 5px 10px;

  border-radius: 4px;
}

.inputText-container input::placeholder {
  opacity: .6;
}



